JubHunter/JobHunter.json
{
  "name": "JobHunter(Public)",
  "nodes": [
    {
      "parameters": {
        "content": "### 🛠️ OPERATION MODE (MODULAR JOB HUNTING ENGINE)\n\nThis workflow is built as a generic template. It runs 3 entirely decoupled pipelines. \n**How to use:** Simply configure the green `[CONFIG]` nodes at the start of each pipeline.\n\n1. **PIPELINE 1: SCRAPER**\n   - Edit `[CONFIG] Job Searches` to paste up to 4 LinkedIn Search URLs.\n   - Runs every 6 hours to fetch, clean, and store raw job data in Google Sheets.\n2. **Google Sheets configuration**\n   - Duplicate the file(https://docs.google.com/spreadsheets/d/1blfsmqiBh8pVz7vQzlPFIUEUruvvc9VIKeu5AZsUTHA/edit?usp=sharing)\n   - Setup your Google API key, insert the sheet url.\n\n3. **PIPELINE 2: AI ENRICHMENT & SCORING**\n   - Edit `[CONFIG] Candidate Profile` to define the target skills, deal-breakers, and technical stack for the AI to evaluate.\n   - Runs every 8 hours, processing unchecked rows through the Gemini LLM.\n\n4. **PIPELINE 3: EMAIL DIGEST ALERT**\n   - Edit `[CONFIG] Email Settings` to set the delivery inbox.\n   - Runs daily at 08:00 AM, compiling high-score matches (Score >= 75) into an HTML digest.\n\n",
        "height": 476,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        288
      ],
      "name": "Sticky Note",
      "id": "28580358-9810-4765-b6bf-3672f9be2ec6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "URL_1",
              "value": "https://www.linkedin.com/jobs/search/?keywords=Growth%20Engineer",
              "type": "string"
            },
            {
              "name": "URL_2",
              "value": "https://www.linkedin.com/jobs/search/?keywords=Revenue%20Operations",
              "type": "string"
            },
            {
              "name": "URL_3",
              "value": "https://www.linkedin.com/jobs/search/?keywords=Sales%20Operations",
              "type": "string"
            },
            {
              "name": "URL_4",
              "value": "https://www.linkedin.com/jobs/search/?keywords=Operations%20Analyst",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        816
      ],
      "name": "[CONFIG] Job Searches",
      "id": "8688f692-c92a-4afe-b1bf-b707bac154e1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "Target_Roles",
              "value": "Growth Analyst, RevOps Specialist, Senior Sales Executive",
              "type": "string"
            },
            {
              "name": "Tech_Stack",
              "value": "Automation (n8n, Make), Data (Metabase), CRM (HubSpot), Python",
              "type": "string"
            },
            {
              "name": "Key_Experience",
              "value": "B2B Sales, Pipeline Architecture, Automated Lead Qualification",
              "type": "string"
            },
            {
              "name": "Preferences",
              "value": "Must be remote or hybrid. No entry-level SDR roles.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        960
      ],
      "name": "[CONFIG] Candidate Profile",
      "id": "e2bd8f59-45a6-400c-8224-c3349fefb5c6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "Destination_Email",
              "value": "recruiter@example.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        1104
      ],
      "name": "[CONFIG] Email Settings",
      "id": "e587c5ff-255f-41f9-b2f0-f55ee4648c86"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=System Role:\nYou are an expert executive technical recruiter. Evaluate this job opportunity against the candidate's specific profile.\n\n### Candidate Profile\nTarget Roles: {{ $('[CONFIG] Candidate Profile').first().json.Target_Roles }}\nTechnical Stack: {{ $('[CONFIG] Candidate Profile').first().json.Tech_Stack }}\nKey Experience: {{ $('[CONFIG] Candidate Profile').first().json.Key_Experience }}\nPreferences & Deal Breakers: {{ $('[CONFIG] Candidate Profile').first().json.Preferences }}\n\n### Job Data to Evaluate\nJob Title: {{ $json['Title'] }}\nRequirements & Description: {{ $json['Description'] }}\nBenefits: {{ $json['Benefits'] }}\n\n### Output Instructions\nRespond ONLY with a valid JSON object matching the requested schema.",
        "hasOutputParser": true,
        "needsFallback": true,
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 15000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1616,
        1216
      ],
      "name": "Basic LLM Chain",
      "id": "98463b9c-a676-4180-aa4d-cebccb30ee96"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        1264
      ],
      "name": "Get row(s) in sheet",
      "id": "d9c7b09c-416c-443f-973c-9b1c96d53ebf"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        1264
      ],
      "name": "Loop Over Items",
      "id": "5b4c055b-cfe7-45d4-a4fa-29b32418f35e"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2256,
        1328
      ],
      "name": "Wait",
      "id": "f90bb2c9-e68b-4c81-bc85-f1de02fb096f",
      "webhookId": "9442c7a4-7b11-499b-a424-0b96196a9690"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Loop Over Items').item.json['Title'] }}",
            "Description": "={{ $('Loop Over Items').item.json['Description'] }}",
            "Benefits": "={{ $('Loop Over Items').item.json['Benefits'] }}",
            "Requirements": "={{ $('Loop Over Items').item.json['Requirements'] }}",
            "Job Link": "={{ $('Loop Over Items').item.json['Job Link'] }}",
            "Fit": "={{ $json.output.decision_reasoning }}",
            "Score": "={{ $json.output.match_score }}",
            "Motivation": "={{ $json.output.decision_reasoning }}",
            "Role Category": "={{ $json.output.role_category }}"
          },
          "matchingColumns": [
            "Job Link"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2032,
        1216
      ],
      "name": "Append or update row in sheet",
      "id": "7d49dabc-9d63-4c5d-ac99-6ba3d1a1c8b3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "751bde02-a160-42d2-805c-7e1b342847db",
              "leftValue": "={{ $json.Fit }}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        1280
      ],
      "name": "If",
      "id": "05b4f4e7-9a8d-42d8-8f2f-dc0501957128"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1568,
        1440
      ],
      "name": "2.5 flash lite",
      "id": "e5deccac-b750-46cf-95f4-bd0e34356356"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1696,
        1440
      ],
      "name": "3.1 flash lite",
      "id": "918aa184-ae70-498b-83e0-e866318a49be"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"is_match\": {\n      \"type\": \"boolean\"\n    },\n    \"match_score\": {\n      \"type\": \"integer\"\n    },\n    \"role_category\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"Growth\",\n        \"RevOps\",\n        \"Sales Executive\",\n        \"Irrelevant\"\n      ]\n    },\n    \"decision_reasoning\": {\n      \"type\": \"string\"\n    },\n    \"missing_requirements\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\n    \"is_match\",\n    \"match_score\",\n    \"role_category\",\n    \"decision_reasoning\",\n    \"missing_requirements\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1824,
        1440
      ],
      "name": "Structured Output Parser",
      "id": "cc4338a1-8a75-46da-ad0d-d60145961ffc"
    },
    {
      "parameters": {
        "url": "={{ $('[CONFIG] Job Searches').first().json.URL_1 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        496
      ],
      "name": "HTTP Request",
      "id": "5d4136e0-895b-4f03-a725-98249e984c01"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        672,
        688
      ],
      "name": "HTML",
      "id": "772a9821-fb06-4911-8fbf-82288073df11"
    },
    {
      "parameters": {
        "url": "={{ $('[CONFIG] Job Searches').first().json.URL_2 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        688
      ],
      "name": "HTTP Request1",
      "id": "4bd00b1b-1a19-4c2c-9a38-b668602f5007"
    },
    {
      "parameters": {
        "url": "={{ $('[CONFIG] Job Searches').first().json.URL_3 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        880
      ],
      "name": "HTTP Request2",
      "id": "ac3ed16b-a218-44dc-929d-b2280f2cff0a"
    },
    {
      "parameters": {
        "url": "={{ $('[CONFIG] Job Searches').first().json.URL_4 }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        1072
      ],
      "name": "HTTP Request3",
      "id": "bbee5d57-84af-4281-b4a3-8564f2d3f630"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        672,
        880
      ],
      "name": "HTML2",
      "id": "07d2a412-4872-403c-9e32-4d4c39c98996"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        672,
        1072
      ],
      "name": "HTML3",
      "id": "bdd6d6f6-b92f-4144-80ee-4302bc8bdae7"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        672,
        496
      ],
      "name": "HTML1",
      "id": "0a2846dc-d5a5-41d0-8f18-af43280b3b94"
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 2
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1632,
        832
      ],
      "name": "HTTP Request4",
      "id": "3b65fd2c-7561-4001-986f-9ad3e65450a9",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0].json;\nconst html = input.data || input.body || input.html || \"\";\n\nif (!html || html.length < 100) {\n  return [{ json: { error: \"HTML not received or blocked.\" } }];\n}\n\nconst cleanHTML = (text) => {\n  if (!text) return \"\";\n  return text\n    .replace(/<br\\s*\\/?>/gi, ' ')\n    .replace(/<li>/gi, ' ')\n    .replace(/<[^>]*>?/gm, '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .trim();\n};\n\nconst sanitize = (text) => {\n  return text\n    .replace(/[\\n\\r\\t]/gm, ' ')\n    .replace(/\\s\\s+/g, ' ')\n    .trim();\n};\n\nlet jobData = {\n  Title: \"Not found\",\n  \"Job Link\": \"Not found\",\n  Requirements: \"Not found\",\n  Benefits: \"Not found\",\n  Description: \"Not found\",\n};\n\ntry {\n  const urlMatch = html.match(/<link rel=\"canonical\" href=\"([^\"]+)\"/);\n  if (urlMatch) jobData[\"Job Link\"] = urlMatch[1];\n\n  const titleMatch = html.match(/top-card-layout__title[^>]*>([\\s\\S]*?)<\\/h1>/);\n  if (titleMatch) jobData.Title = sanitize(cleanHTML(titleMatch[1]));\n\n  const descMatch = html.match(/show-more-less-html__markup[^>]*>([\\s\\S]*?)<\\/div>/);\n  if (descMatch) {\n    const rawDesc = descMatch[1];\n    jobData.Description = sanitize(cleanHTML(rawDesc));\n\n    const reqKeywords = /Requisitos:|Perfil que buscamos:|Qualificações:|O que você precisa ter:|Desejável:|Requirements:|Qualifications:|What you need:/i;\n    const reqParts = rawDesc.split(reqKeywords);\n    if (reqParts.length > 1) {\n      jobData.Requirements = sanitize(cleanHTML(reqParts[1].split('</ul>')[0]));\n    }\n\n    const benKeywords = /Benefícios:|Pacote de Benefícios:|Vantagens:|O que oferecemos:|Benefits:|Perks:|What we offer:/i;\n    const benParts = rawDesc.split(benKeywords);\n    if (benParts.length > 1) {\n      jobData.Benefits = sanitize(cleanHTML(benParts[1].split('</ul>')[0]));\n    }\n  }\n} catch (e) {\n  jobData.error = e.message;\n}\n\nreturn [{ json: jobData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        832
      ],
      "name": "Code in JavaScript",
      "id": "6104039b-cb34-41f8-b67e-e7e02b4deba7"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1104,
        880
      ],
      "name": "Split Out",
      "id": "a94d9dba-5812-4d58-838f-923a62b29f2b"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        848
      ],
      "name": "Merge",
      "id": "1eb6cfec-cb22-45aa-b85a-26d999c4c1e7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1264,
        880
      ],
      "name": "Remove Duplicates",
      "id": "7d7420f4-60f9-4c99-9558-db98f522ade1"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1408,
        880
      ],
      "name": "Loop Over Items1",
      "id": "8b76d27c-ae37-45f9-80d0-e2fee3704de1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.Title }}",
            "Description": "={{ $json.Description }}",
            "Benefits": "={{ $json.Benefits }}",
            "Job Link": "={{ $json['Job Link'] }}",
            "Requirements": "={{ $json.Requirements }}"
          },
          "matchingColumns": [
            "Job Link"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        832
      ],
      "name": "Append or update row in sheet1",
      "id": "12326066-1c8f-45ee-8d0f-3cec8c039683",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z25YcfW3jD44yYrk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2304,
        928
      ],
      "name": "Wait1",
      "id": "a37122c3-6425-4791-ace6-88e60cf111a0",
      "webhookId": "76f50dba-5a51-4a80-a4a5-b5e010193815"
    },
    {
      "parameters": {
        "sendTo": "={{ $('[CONFIG] Email Settings').first().json.Destination_Email }}",
        "subject": "Daily Job Matches - Radar",
        "message": "={{ $json.html_output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        1632
      ],
      "name": "Send a message",
      "id": "f58a70c5-431b-431a-9850-d24a46264930",
      "webhookId": "c9367b7f-ccf2-4b6b-a4c7-797a25614091"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1068ad98-8188-40ea-ac6d-d7408fbd3b1a",
              "leftValue": "={{ $json.send_email }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        1632
      ],
      "name": "If1",
      "id": "4bb6fe37-523d-4805-9373-5cc52e3fff5a"
    },
    {
      "parameters": {
        "jsCode": "const vagasOriginais = $('Code in JavaScript2').first().json.rows_to_update;\nreturn vagasOriginais;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        1632
      ],
      "name": "Code in JavaScript1",
      "id": "208c679b-8b6f-4e01-a552-55be82090fa1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        1648
      ],
      "name": "Get row(s) in sheet1",
      "id": "8e6c99e5-99fa-44f8-ba6d-c8d63969920a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b25d227-7dac-4974-beac-3df3cfa8de12",
              "leftValue": "={{ $json.Score }}",
              "rightValue": 75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "8bb71008-cf52-40bd-a921-fae755775211",
              "leftValue": "={{ $json['Emailed?'] }}",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        1648
      ],
      "name": "If2",
      "id": "8ad4e12b-bb9a-4f72-aa7b-e1c27d3c649c"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) {\n  return [{ json: { send_email: false, message: \"No new jobs today.\" } }];\n}\n\nlet htmlBody = `\n  <div style=\"font-family: Arial, sans-serif; color: #333; max-width: 650px; margin: auto;\">\n    <h2 style=\"color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 10px;\">🎯 Job Radar: ${items.length} New Matches</h2>\n    <p style=\"font-size: 14px; color: #555;\">Here are the latest jobs filtered for the candidate profile:</p>\n`;\n\nfor (const item of items) {\n  const row = item.json;\n  const title = row[\"Title\"] || \"Title not provided\";\n  const score = row[\"Score\"] || \"N/A\";\n  const reason = row[\"Motivation\"] || \"No justification extracted.\";\n  const link = row[\"Job Link\"] || \"#\";\n  \n  htmlBody += `\n    <div style=\"margin-bottom: 25px; padding: 20px; background-color: #f8f9fa; border-left: 4px solid #3498db; border-radius: 6px; box-shadow: 0 1px 3px rgba(0,0,0,0.05);\">\n      <h3 style=\"margin: 0 0 10px 0; color: #2c3e50; font-size: 18px;\">\n        ${title}\n      </h3>\n      <div style=\"margin-bottom: 15px;\">\n        <span style=\"background-color: #e8f4f8; color: #2980b9; padding: 4px 10px; border-radius: 12px; font-size: 13px; font-weight: bold;\">\n          Score: ${score}/100\n        </span>\n      </div>\n      <p style=\"margin: 0 0 15px 0; font-size: 14px; line-height: 1.6; color: #444;\">\n        <strong>Why it's a good fit:</strong><br>\n        ${reason}\n      </p>\n      <div>\n        <a href=\"${link}\" style=\"display: inline-block; font-size: 13px; color: #ffffff; background-color: #3498db; padding: 8px 16px; text-decoration: none; border-radius: 4px; font-weight: bold;\" target=\"_blank\">\n          View Job on LinkedIn\n        </a>\n      </div>\n    </div>\n  `;\n}\n\nhtmlBody += `\n    <hr style=\"border: 1px solid #eee; margin-top: 30px;\">\n    <p style=\"font-size: 12px; color: #95a5a6; text-align: center;\">\n      Automated prospecting engine via n8n\n    </p>\n  </div>\n`;\n\nreturn [{ \n  json: { \n    send_email: true, \n    html_output: htmlBody,\n    rows_to_update: items\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        1632
      ],
      "name": "Code in JavaScript2",
      "id": "75f70e2a-e15a-4378-86f1-07bb044865fd"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job Link": "={{ $json['Job Link'] }}",
            "Emailed?": "YES"
          },
          "matchingColumns": [
            "Job Link"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        1632
      ],
      "name": "Append or update row in sheet2",
      "id": "4b51b8bd-d0c5-4127-949f-da1489b1075a"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        64,
        816
      ],
      "name": "Trigger_Scraper",
      "id": "ff85eae4-99da-4152-82ab-05e857896d42"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        64,
        944
      ],
      "name": "AI Trigger",
      "id": "30f12b66-3f6d-494c-b3e5-bb801413f5c8"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        48,
        1088
      ],
      "name": "Email Trigger",
      "id": "575b45c2-28b3-4e02-a01e-98e0122ea455"
    }
  ],
  "pinData": {},
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.5 flash lite": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "3.1 flash lite": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTML3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger_Scraper": {
      "main": [
        [
          {
            "node": "[CONFIG] Job Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Trigger": {
      "main": [
        [
          {
            "node": "[CONFIG] Candidate Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger": {
      "main": [
        [
          {
            "node": "[CONFIG] Email Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CONFIG] Job Searches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CONFIG] Candidate Profile": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[CONFIG] Email Settings": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "20081750-667f-4fca-82c6-f6c8d8767feb",
  "meta": {
    "instanceId": "c6cb6b9bcaae3df797ba7c82db51b00b75a488310812c319c776a47df059a9a1"
  },
  "id": "oJmmIsBr2rucN6wn",
  "tags": []
}