Content Splitter and Writter/Content Writter.json
{
  "name": "Content Writter",
  "nodes": [
    {
      "parameters": {
        "content": "## Instruction guide \n**Steps** \n1 - Duplicate the example sheet(https://docs.google.com/spreadsheets/d/1NDXpaC2Wgo4Vg9fgonivjS3HXH4pebxGYfTab3-tEIg/edit?usp=sharing)\n2- Insert your sheet URL. \n3- Insert your Gemini, Groq, and Firecrawl API Keys.",
        "height": 384,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -304
      ],
      "id": "737dbd4d-48bb-4ba9-833a-5e9d94324548",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1blfsmqiBh8pVz7vQzlPFIUEUruvvc9VIKeu5AZsUTHA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1blfsmqiBh8pVz7vQzlPFIUEUruvvc9VIKeu5AZsUTHA/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        336,
        288
      ],
      "id": "645df89d-257c-4b50-b66f-e4f1c5ea38c1",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "uH3MSbxLBrP9MYFj",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json['Source URL'] }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        592,
        288
      ],
      "id": "37342adb-4d85-4b98-8f49-4cb61f23b1aa",
      "name": "/scrape",
      "credentials": {
        "firecrawlApi": {
          "id": "lgTbAZgtubSv23Ge",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an Top Voice B2B Growth Marketer and Executive Copywriter. Your goal is to transform the provided source article into a high-engagement LinkedIn post.\n\nSource Material:\n{{ $json.markdown }}\n\nCRITICAL CONTENT RULES:\n1. THE HOOK: Start with a powerful 1-line hook (under 90 characters) that challenges common wisdom or presents a striking metric from the text.\n2. THE STRUCTURE: Use \"breathable\" formatting—never group more than 2 sentences in a single paragraph. Use whitespace aggressively to drive scroll retention.\n3. BODY & INSIGHTS: Break down the core methodology using clean bullet points.\n4. THE TAKEAWAY: End with a sharp, tactical takeaway that a professional can implement today.\n5. NO FILLER: Do not include intros, generic hashtags, or conversational sign-offs. Start directly with the hook.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1312,
        -192
      ],
      "id": "f4c174ea-8f9f-414e-995a-50c1a78acaa4",
      "name": "Linkedin Draft"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a viral Tech & Business Ghostwriter specializing in high-retention Twitter/X threads. Your task is to extract the core framework from the source text and turn it into an educational thread.\n\nSource Material:\n{{ $json.markdown }}\n\nCRITICAL CONTENT RULES:\n1. TWEET 1 (THE HOOK): Must focus on a massive problem, a hidden framework, or a major business lesson. End Tweet 1 with a clear open loop.\n2. PACING: Write exactly 4 to 6 connected tweets. Each tweet must deliver a standalone value drop.\n3. FORMATTING: Use brief sentences, short bullet lists, and clean spacing.\n4. TWEET NUMBERING: Append a clean fractional counter to the end of every single tweet (e.g., \"1/\", \"2/\", \"3/\").\n5. NO OUTBOUND LINKS: Do not include links or generic introductory filler.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1312,
        176
      ],
      "id": "08148adf-0bf8-45b6-8c5f-b35587c3d21e",
      "name": "Twitter Draft"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Chief Editorial Newsletter Writer at Lead.ing PRO. Your task is to turn the source article into an insightful, value-first weekly newsletter edition for business professionals.\n\nSource Material:\n{{ $json.markdown }}\n\nCRITICAL CONTENT RULES:\n1. THE SUBJECT LINE & HEADER: Provide 2 distinct, high-open-rate Subject Line options at the very top, followed by a bold H2 Header.\n2. THE OPENING: Start with a brief, compelling real-world scenario or a structural business problem that contextualizes the article’s core topic.\n3. THE DEEP DIVE: Unpack the practical steps, methodologies, or frameworks detailed in the text. Use bold headers (##) and organized lists to make the middle section incredibly easy to skim.\n4. TONE: Maintain a highly analytical, methodical, and data-driven editorial tone. Focus on systemic processes, efficiency, and scalability.\n5. NO FILLER: Exclude generic placeholders like \"[Insert Your Name Here]\" or standard template signatures. Deliver purely polished newsletter body content.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1296,
        544
      ],
      "id": "c5a6248c-e82b-441d-beef-d0dda06c4528",
      "name": "Newsletter Draft"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1312,
        32
      ],
      "id": "f34a19b7-0a3c-4e10-be64-eb11d0f16652",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zJYPwqYMoRWGQnkR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1312,
        400
      ],
      "id": "ca294ed4-82c5-4a75-befc-e5acc16b5def",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "zJYPwqYMoRWGQnkR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1296,
        768
      ],
      "id": "2ae5f5c6-0ceb-4cd5-aa7b-2c6a877e97bd",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "zJYPwqYMoRWGQnkR",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert executive copyeditor. Your sole task is to polish, refine, and maximize the hook retention of the raw LinkedIn draft provided below.\n\nRaw Draft to Edit:\n{{ $json.text }}\n\nCRITICAL EDITING RULES:\n1. THE HOOK: Sharpen the very first line. Ensure it is intensely compelling, concise, and forces the reader to click \"...see more\".\n2. GRAPHIC LAYOUT: Ensure formatting is hyper-breathable. Break up walls of text.\n3. FLOW: Remove any robotic AI phrasing, cliches, or corporate filler words.\n4. OUTPUT: Output ONLY the final polished LinkedIn post. Do not include any intros or bracketed tags.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1664,
        -192
      ],
      "id": "162c5f1b-8001-43d0-8c90-a45e8032fa32",
      "name": "Linkedin Editor"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite platform-native editor specializing in viral growth mechanics on Twitter/X. Your sole task is to audit and rewrite the raw Twitter thread provided below to ensure maximum retention.\n\nRaw Draft to Edit:\n{{ $json.text }}\n\nCRITICAL EDITING RULES:\n1. THREAD HOOK: Ensure the first tweet contains an unmissable open loop.\n2. TWEET PACING: Verify that every single tweet ends elegantly and naturally compels the reader to scroll down.\n3. CONCISENESS: Aggressively trim fluff. Ensure fractional counters (e.g., 1/, 2/) remain perfectly intact.\n4. OUTPUT: Output ONLY the final polished Twitter thread. Do not include any meta-commentary.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1664,
        176
      ],
      "id": "ee7c95a2-341d-4d71-a171-79e551764c33",
      "name": "Twitter Editor"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a premium business newsletter copyeditor at Lead.ing PRO. Your task is to refine and polish the raw email draft provided below to ensure maximum value-delivery and executive readability.\n\nRaw Draft to Edit:\n{{ $json.text }}\n\nCRITICAL EDITING RULES:\n1. HEADLINES: Ensure the subject lines are punchy and optimized for open rates. Verify markdown headers (##) are clean.\n2. TONE AUDIT: Enforce a methodical, system-driven, and highly consultative tone.\n3. RETENTION FLOW: Smooth out transitions between paragraphs.\n4. OUTPUT: Output ONLY the final production-ready newsletter text.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1648,
        544
      ],
      "id": "db88ff8e-aa65-4b0b-923f-02b5f297449b",
      "name": "News Editor"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1664,
        48
      ],
      "id": "33deb3a0-1d49-49b8-9349-f550cbb8507d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "n8Mp9la3ZtOsHxAi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1664,
        400
      ],
      "id": "f847fb39-4221-498d-9a71-7626cf2ee33f",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "n8Mp9la3ZtOsHxAi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1648,
        768
      ],
      "id": "f755679f-39d9-4bf4-88f0-bee18f0589b7",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "n8Mp9la3ZtOsHxAi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2016,
        272
      ],
      "id": "ed481c09-8f63-4567-bbc0-b8a0e724472d",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const inputs = $input.all();\n\nconst linkedinFinal = inputs[0]?.json?.text || \"\";\nconst twitterFinal = inputs[1]?.json?.text || \"\";\nconst newsletterFinal = inputs[2]?.json?.text || \"\";\n\nconst originalLink = $('Google Sheets Trigger').first().json['Source URL'] || \"\";\nconst fullText = $('/scrape').first().json.markdown || \"\";\n\nconst titleMatch = fullText.match(/^#\\s+(.*)/m);\nconst articleTitle = titleMatch ? titleMatch[1].trim() : \"Growth Article\";\n\nreturn [\n  {\n    json: {\n      metadata: {\n        title: articleTitle,\n        source_url: originalLink,\n        full_text: fullText,\n        status: \"polished_by_editor\"\n      },\n      final_channels: {\n        linkedin: linkedinFinal,\n        twitter: twitterFinal,\n        newsletter: newsletterFinal\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        288
      ],
      "id": "e97b364b-3415-4371-bae0-6d8aa956b0d5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1blfsmqiBh8pVz7vQzlPFIUEUruvvc9VIKeu5AZsUTHA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1blfsmqiBh8pVz7vQzlPFIUEUruvvc9VIKeu5AZsUTHA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source URL": "={{ $json.metadata.source_url }}",
            "Newsletter Draft": "={{ $json.final_channels.newsletter }}",
            "X Post": "={{ $json.final_channels.twitter }}",
            "LinkedIn Post": "={{ $json.final_channels.linkedin }}",
            "Article Title": "={{ $json.metadata.title }}",
            "Full text": "={{ $json.metadata.full_text }}"
          },
          "matchingColumns": [
            "Source URL"
          ],
          "schema": [
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Article Title",
              "displayName": "Article Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full text",
              "displayName": "Full text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn Post",
              "displayName": "LinkedIn Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "X Post",
              "displayName": "X Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Newsletter Draft",
              "displayName": "Newsletter Draft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2464,
        288
      ],
      "id": "5874131b-5af3-4eab-bbb7-612ae2e8ccf4",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z25YcfW3jD44yYrk",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "/scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/scrape": {
      "main": [
        [
          {
            "node": "Linkedin Draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter Draft",
            "type": "main",
            "index": 0
          },
          {
            "node": "Newsletter Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Draft": {
      "main": [
        [
          {
            "node": "Linkedin Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Draft": {
      "main": [
        [
          {
            "node": "Twitter Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter Draft": {
      "main": [
        [
          {
            "node": "News Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Editor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Editor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "News Editor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Linkedin Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Twitter Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Newsletter Draft",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Linkedin Editor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Twitter Editor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "News Editor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "55c0ca86-08aa-4599-93b0-18f7c95a8276",
  "meta": {
    "instanceId": "c6cb6b9bcaae3df797ba7c82db51b00b75a488310812c319c776a47df059a9a1"
  },
  "id": "1XERlFR0d9f8i82b",
  "tags": []
}